@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Light mode */
  --bg-color: #ffffff;
  --text-color: #0f172a;
  --primary-color: #4346ef;
  --secondary-color: #f1f5f9;
  --border-color: #e5e7eb;
}

.dark { 
  --bg-color: #0f172a;
  --text-color: #f8fafc;
  --primary-color: #6366f1;
  --secondary-color: #1e293b;
  --border-color: #334155;
}


body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg-color);
}

a{
  text-decoration: none;
}

button{
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.container{
  width: 100%;
  max-width: 1260px;
  padding-right: 20px;
  padding-left: 20px;
  margin: auto;
}
main{
  flex-grow:calc(1);
}

.public-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
nav{
  background-color:var(--border-color);
  padding: 25px 0;
}

.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2{
    color: var(--text-color);
    cursor: pointer;
  }
}

.nav-btn{
  background-color: transparent;
  color: var(--text-color);
  font-size: 20px;
}
.fa-moon{
  color: gold;
}
.fa-sun{
  color: gold;
}
.nav-link{
  display: flex;
  gap: 20px;
}
.nav-link a{
  color: var(--text-color);
  font-weight: 600;
}
.nav-link a:hover{
  color: #4346ef;
  transform: scale(1.1);
  transition: all 0.5s;
}
.photos-container{
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}
.user-card i{
  color: var(--text-color);
}
.user-card p{
  color: var(--text-color);
}

.main-section{
  display: flex;
  justify-content: center;
  align-items: center;
}
.photos-card{
  width: 100%;
  background-color: var(--border-color);
  border-radius: 10px;
  padding: 20px;
  max-width: 350px;
  h2{
    font-weight: 500;
    font-size: 20px;
  }
}
.photos-card img{
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
}




.Footer-container{
     width: 100%;
    max-width: 1340px;
    padding: 20px;
    margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--border-color);
}
.Footer-container a{
   text-decoration: none;
   font-size: 25px;
   color: var(--text-color);
}

.fa-github{
    color: var(--text-color);
}




@media (max-width:500px) {
  .nav-link{
    flex-direction: column;
  }
  .nav-container{
    align-items: start;
  }
}